{% extends 'AdminBundle::base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h3 class="col-md-12">
            {{ 'Strona główna'|trans }}
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ 'Witaj w panelu administracyjnym'|trans }}
        </div>
    </div>
</div>
{% endblock %}
