{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-md-12">
                {{ 'Dodawanie nowego produktu'|trans }}
            </h3>
        </div>
        <div class="row">
            <form class="form-horizontal" action="{{ path('admin_product_add') }}" method="post">
                {{ include('admin/product/_product_form.html.twig', {
                    form: form
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
